# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

complaint_embeddings.parquet
complaints.csv
10 Academy - KAIM 8-Week 7.docx
10 Academy - KAIM 8 - Week 7.docx
notebooks/data/processed/cleaned_complaints_final.csv
notebooks/data/processed/cleaned_complaints_no_emojis.csv
notebooks/data/processed/cleaning_progress.pkl
notebooks/todo_list.md
